<form #formulaire="ngForm">
        
            <label for="email" >Email : </label>
        <input #inputmail="ngModel" required id="email" name="email "type="text" email ngModel class="form-control">
        <div class="alert alert-danger" [hidden]="inputmail.valid || inputmail.untouched">
            Vous devez entrer un mail valide
        </div>
        <label for="email" >password : </label>
        <input #inputpass="ngModel" required id="password" minlength="5" name="password "type="password" ngModel class="form-control">
        <div class="alert alert-danger"  *ngIf="inputpass.invalid && inputpass.touched" >
            Le mot de passe doit avoir au minimum 5 caractéres
        </div>
        <br>
        
   
        <div class="col text-center">
            <button class="btn btn-primary" [disabled]="formulaire.invalid" (click)="showinput(formulaire)">Login</button>
        </div>
        

   
    
    </form>