<form #formulaire="ngForm">
    <label  for="name" >Name :</label>
    <input required id="name" name="name" type="text"  ngModel class="form-control">
    <label for="firstname" >Firstname :</label>
    <input required id="firstname" name="firstname" type="text"  ngModel class="form-control">
    <label for="age" >Age :</label>
    <input  required id="age" name="age" type="number"  ngModel class="form-control">
    <label for="cin" >CIN :</label>
    <input required id="cin" name="cin" type="text"  ngModel class="form-control">
    <label for="job" >Job</label>
    <input required id="job" name="job" type="text"  ngModel class="form-control">

    <label for="jobdescription" >Job Description :</label>
    <input required id="jobdescription" name="jobdescription" type="text"  ngModel class="form-control">

    <label for="summary" >Summary :</label>
    <input required id="summary" name="summary" type="text"  ngModel class="form-control">

    <label for="path" >path:</label>
    <input  id="path" name="path" type="text"  ngModel class="form-control">

    <button class="btn btn-primary" (click)="envoyercv(formulaire)" [disabled]="formulaire.invalid">Envoyer</button>
</form>

